@import '../../viewsStyles/global';

.suggestionsContainer{
    width: 30%;
    background-color:  var(--dark-background);
    border-left: 0.3px solid var(--invisible-grey);
    position: fixed;
    right:0;
    top:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .searchContainer{
        display: flex;
        position: fixed;
        padding: 0.7em 0;
        
        .searchIcon{
            color:  var( --trsansparent-grey);
            position: absolute;
            left: 1.4em;
            top: 1.25em;
            font-size: 1.2em;
        }
        .searchBox{
            font-size: 1.2em;
           background-color: var(--dark-background-match);
           text-indent: 1em;
           border: 1.2px solid transparent;
           outline: none;
           padding: 0.6em 2.5em;
           width: 20em;
           border-radius: 2em;
           color:var(--dark-white);
            &::placeholder{
                color:  var( --trsansparent-grey);
            }
            &:focus{
                background-color: var(--dark-background);
                border: 1.2px solid var(--primary);
            }
        }

        input[name="search"]:focus + .searchIcon { color: var(--primary); }
    }
    .searchResults{
        display: flex;
        flex-direction: column;
        margin-top: 5em;
        width: 25em;
        height: auto;
        max-height: 25em;
        overflow: scroll;
        .searchResult{
            list-style: none;
            height: 100%;
            border: 1px solid var(--invisible-grey);
            

            &:hover{
                background-color: var(--dark-background-match);
            }
            .searchResultWrap{
                display: flex;
                align-items: center;
                padding: 1em;
                .profilePicture{
                    height: 2.7em;
                    width: 2.7em;
                    border-radius: 50%;
                    margin-right: 1em;
                }
                .searchResultInfo{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .fullname{
                        color: var(--dark-white);
                        font-weight: 800;
                        font-size: 1.1em;
                    }
                    .username{
                        color:var(--trsansparent-grey)
                    }
                }
            }
        }
    }

    .suggestionsWrap{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding-top: 0.6em;
        overflow-y: scroll;
        margin-top: 2em;
        width: 100%;

        .Trending{
            height: auto;
            width: 22.5em;
            background-color: var(--dark-background-match);
            margin: 2em auto ;
            display: flex;
            flex-direction: column;
            border-radius: 1em;

            .trendingHeader{
                font-weight: 800;
                font-size: 1.7em;
                padding: 0.5em;
                color:var(--dark-white);
                border-bottom: 0.3px solid var(--invisible-grey);
                   
            }
            .trendingItem{
                display: flex;
                padding: 0 1em;
                padding-top: 0.7em;
                padding-bottom: 1em;
                justify-content: space-between;
                background-color: transparent;
                height: auto;
                width: 100%;
                border-bottom: 0.3px solid var(--invisible-grey);
                cursor: pointer;

                .trendingTitle{
                    font-weight: 600;
                    color:var(--dark-white);
                    font-size: 1.1em;
                }
                .trendingArrow{
                    color:  var( --white);
                    background-color: var(--primary);
                    height: 1em;
                    width: 2em;
                    padding-bottom: 1.7em;
                    font-size: .75em;
                    border-radius: .3em;
                }
                &:hover{
                    background-color: var(--invisible-grey);
                    transition: all .18s ease-in-out;
                }
            }
            .trendingMore{
                text-align: center;
                height: 2em;
                color: var(--primary);
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;
                cursor: pointer;
                &:hover{
                    background-color: var(--invisible-grey);
                    transition: all .18s ease-in-out;
                }
            }
        }
       
    }

}

