@import '../viewsStyles/global';


.exploreContainer{
    display: flex;
    justify-content: center;
    height: auto;

    .middle{
        width:60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: yellow;
        height: auto;

    }
}