/***********************************
            VARIABLES
************************************/

$darkest-background: #23272A;
$dark-background: #2C2F33;
$primary: #ff4d52;
$primary-hover: #f1444a;
$primary-active: #db353a;
$white: #ffffff;
$light-grey: #b8b8b8;
$dark-white: #f4f4f4;




/***********************************

************************************/


/***********************************
            Fonts
************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');