/***********************************
            VARIABLES
************************************/

$darkest-background: #23272A;
$dark-background-match: #3a3e42;
$dark-background-match-hover: #494e52;
$dark-background: #2C2F33;
$primary: #ff4d52;
$primary-faded: #ff4d5333;
$primary-hover: #f1444a;
$primary-active: #c22f34;
$primary-button-active: #aa2327;
$dark-primary: #bb151a;
$white: #ffffff;
$light-grey: #f0f0f0;
$dark-white: #f4f4f4;
$trsansparent-grey : #f0f0f079;
$invisible-grey : #c2c2c24f;


//#dedede

/***********************************

************************************/


/***********************************
            Fonts
************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');



body, html {
    margin: 0;
    height: 100%;
    background-color: $dark-background !important;
    scroll-behavior: smooth !important;
}

button{
    -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}


