@import './global';


.homeBody{
    overflow: hidden;
    width: 40%;
    margin: 0 auto;
    .loginForm{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 3em;
        font-family: 'Poppins', sans-serif;
        .Logo{
          
        }
        .loginTitle{
            color:var(--black);
            font-size: 23px;
            font-weight: 700;
        }
        .inputWrap{
            position: relative;

            .placeholder{
                font-weight: 500;
                color: var( --trsansparent-grey);
                position: absolute;
                top: 1.3em;
                left: 1.7em;
            }
            
            .inputBox{
                font-size: 1.2em;
                font-weight: 500;
                outline: none;
                width: 26.75em;
                height: 3.3em;
                margin: 1em;
                margin-bottom: 0.6em;
                padding: 0.5em;
                padding-bottom: 0em;
                padding-top: 0.7em;
                background-color: var(--light-grey);
                border-style:solid;
                border-color: transparent;
                color:var(--black);
                // border-bottom: 2px solid var( --trsansparent-grey);
    
                
            }
        }

        button{
            padding: 1em 2em;
            background-color: var(--primary);
            border: transparent;
            outline: none;
            width: 25.5em;
            color: var(--white);
            font-weight: 900;
            font-size: 16px;
            border-radius: 2em;
            margin-top: 1em;
            cursor: pointer;
            &:hover{
                background-color:var(--primary-hover);
            }
            &:active{
                background-color:var(--primary-active);
            }
        }
        .loginFooter{
            display: flex;
            align-items: center;
            width: 20em;
            margin-top: 2em;
            span{
                color:var(--black);
                font-size: 8px;
                margin: 0 2em;
            }
            .footLinks{
                a{
                    color:var(--primary);
                    text-decoration: none;
                    font-size: 0.85em;
                    font-weight: 100;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }
}