@import './global';

body, html {
    margin: 0;
    height: 100%;
    background-color: $darkest-background;
}

.homeBody{
    width: 40%;
    margin: 0 auto;
    .loginForm{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 3em;
        font-family: 'Poppins', sans-serif;
        .Logo{
          
        }
        .loginTitle{
            color: #ffffff;
            font-size: 23px;
            font-weight: 700;
        }
        .inputWrap{
            position: relative;

            .placeholder{
                font-weight: 500;
                color: #6f6f6f;
                position: absolute;
                top: 1.3em;
                left: 1.7em;
            }
            .inputBox{
                font-size: 1.2em;
                font-weight: 800;
                outline: none;
                width: 26.75em;
                height: 2.5em;
                margin: 1em;
                margin-bottom: 0.6em;
                padding: 0.5em;
                padding-bottom: 0em;
                padding-top: 0.7em;
                background-color: $dark-background;
                border-style:solid;
                border-color: transparent;
                color: #ffffff;
                border-bottom: 2px solid #6f6f6f;

            }
            input:focus {
                transition: all .2s ease-in-out;
                border-bottom: 2px solid #ff4d52;
            }

        }

        button{
            padding: 1em 2em;
            background-color: #ff4d52;
            border: transparent;
            outline: none;
            width: 33.5em;
            color: #ffffff;
            font-weight: 900;
            font-size: 16px;
            border-radius: 2em;
            margin-top: 1em;
            &:hover{
                background-color: #f1444a;
            }
            &:active{
                background-color: #db353a;
            }
        }
        .loginFooter{
            display: flex;
            align-items: center;
            width: 20em;
            margin-top: 2em;
            span{
                color: #ffffff;
                font-size: 6px;
                margin: 0 2em;
            }
            .footLinks{
                a{
                    color: #ff4d52;
                    text-decoration: none;
                    font-size: 0.85em;
                    font-weight: 100;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }
}