@import '../../viewsStyles/global';

.myprofilecardWrap{
    height: 29.375em;
    background-color:  var(--dark-background);
    width: 100%;
    display:flex;
    flex-direction: column;
    .profileBanner{
        flex: 1;
        background-color: var(--dark-background-match);

        &:after {
            content: '\A';
            position: absolute;
            width: 80%; height:27.7%;
            top:0; right:0;
            background:rgba(0,0,0,0.342);
            opacity: 0;
            transition: all .2s;
            -webkit-transition: all .2s;
        }

        &:hover:after {
            opacity: 1;
        }
    }
    .profileInfo{
        flex: 1;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // width: 80%;
        background-color: var(--dark-background);
        .profileInfoWrap{
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 45%;
            top: 9em;
            margin: 0 2.2em;
            color:var(--dark-white);
            .profileInfoTop{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .profilePicture{
                    height: 10.5em;
                        width: 10.5em;
                        border-radius: 50%;
                         background-color: var(--primary);

                         &:after {
                            content: '\A';
                            position: absolute;
                            height: 10.5em;
                            width: 10.5em;
                            border-radius: 50%;
                            top:0; left:0;
                            background:rgba(0, 0, 0, 0.342);
                            opacity: 0;
                            transition: all .2s;
                            -webkit-transition: all .2s;
                        }

                        &:hover:after {
                            opacity: 1;
                        }

                }
                .editProfileButton{
                    button{
                        background-color: transparent;
                        border: 1.3px solid var(--primary);
                        width: 7em;
                        color: var(--primary);
                        font-weight: 700;
                        font-size: 16px;
                        border-radius: 2em;
                        padding: 0.4em 0.7em;
                        outline: none;
                        cursor: pointer;

                        &:hover{
                            transition: all .2s ease-in-out;
                            background-color:var(--primary-faded);
                        }
                    }
                }
            }
            .profileInfoBottom{
                .profileUsername{
                    display: flex;
                    font-weight: 800;
                    font-size: 1.7em;
                    margin: 0;
                    align-items: center;
                   .userFullname{
                       margin-right: 0.3em;
                   }
                    .badge{
                        height: 1.1em;
                        path{
                            fill:var(--dark-white);
                        }
                    }
                }
                .userTagname{
                    font-size: 1.2em;
                    color: var( --trsansparent-grey);
                    margin-bottom: 1em;
                }
                .profileStats{
                    display: flex;
                    align-items: baseline;
                    color: var( --trsansparent-grey);
                    font-size: 1em;
                    .profileFollowers, .profileFolling{
                        margin-right: 1em;
                    }
                      #followers, #following{
                            color:var(--dark-white);
                            font-weight: 700;
                        }
                    
                }
            }
        }
    }
}

.Name{
        color: var(--primary);
    font-size: 1.12em;
    font-weight: 700;
    // margin-left: 1em;
    
}
.Tag{

        color: var( --trsansparent-grey);
    font-size: 1em;
}