@import '../../viewsStyles/global';

.postComponent{
    width: 100%;
    height: auto;
    background-color:  $dark-background;
    border-top: 0.3px solid $invisible-grey;
    display: flex;
    flex-direction: column;

    .feedCard{
        width: 83.5%;
        height: auto;
        display: flex;
        align-items: flex-start;
        padding: 1em;
        border-bottom: 0.3px solid $invisible-grey;
        cursor: pointer;
            &:hover{
                background-color: $dark-background-match;
                transition: all .18s ease-in-out;
            }
            .feedCard-Left{
                width: 6em;
                display: flex;
                align-items: center;
                justify-content: center;
                .profilePicture{
                    height: 5em;
                    width: 5em;
                    border-radius: 50%;
                    background-color: $primary
                }
            }
            .feedCard-Right{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: left;
                    .feedCard-header{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                            .feedCard-info{
                                display: flex;
                                align-items: center;
                                .feedCardAuthor{
                                    margin-right: 0.5em;
                                }
                                .Name{
                                    color: $dark-white;
                                    font-size: 1.12em;
                                    font-weight: 700;
                                    margin-left: 1em;
                                }
                                .Tag{
                                    color: $trsansparent-grey;
                                    font-size: 1em;
                                }
                            }
                            .feedCard-arrow{
                                color:  $trsansparent-grey;
                                margin-right: 0.6em;
                            }
                    }

                    .feedCard-body{
                        padding: 0.4em;
                        color: $dark-white;
                        display: flex;
                        flex-direction: column;
                        font-weight: 500;
                        font-size: 1.1em;
                        .postTitle{
                            margin: 0.7em;
                        }
                    }
                    .feedCard-actions{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 5em;
                        height: 2em;
                        font-size: 1.2em;
                        width: 100%;
                        color: $dark-white;

                            .likeButton{
                                &:hover, &:hover + span{
                                    color: #e0245e;
                                }
                            }
                    }
            }
    }
}