@import '../../viewsStyles/global';

.navContainer{
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    width: 20%;
    background-color:  $dark-background;
    border-right: 0.3px solid $invisible-grey;
    .navContainerWrapper{
        margin: 0.5em 2em;
        .sidenavLogo{
            width: 4.5em;
            cursor: pointer;
            &:hover{
                background-color: $dark-background-match;
                border-radius: 50%;
            }
        }
      
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        color: $dark-white;
        height: 100%;
        
        .sidenavHome,.sidenavNews,.sidenavUser,.sidenavChat,.sidenavExplore{
            
           a{
            color: $dark-white;
            display: flex;
            align-items: center;
            margin: 1em 0;
            padding: 0.6em 1em;
            width: 11em;
            cursor: pointer;
            &:hover{
                color: $primary;
                background-color: $primary-faded;
                border-radius: 3em;
            }
           }
        }
        .Text{
            font-size: 1.4em;
            font-weight: 700;
            margin-left: 1em;
        }
        .sidnavPost{
            button{
                margin: 1em 0.5em;
                background-color: $primary;
                border: transparent;
                width: 10em;
                color: $white;
                font-weight: 700;
                font-size: 16px;
                border-radius: 2em;
                padding: 0.6em 1em;
                outline: none;
                cursor: pointer;
                    &:hover{
                        background-color: $primary-hover;
                    }
                    &:active{
                        background-color: $primary-active;
                    }
            }
        }
        .profileButton{
            font-weight: 700;
            padding: 0.8em 1.2em;
            border-radius: 3em;
            display:  flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .profileSnippetWrap{
                display: flex;
                align-items: center;
                .profilePic{
                   height: 3.2em;
                   width: 3.2em;
                   border-radius: 50%;
                    background-color: $primary;
                    margin-right: 0.8em;
                }

                .nameWrap{
                    .fullname{
                        color: $dark-white;
                     }
                     .username{
                        color: $trsansparent-grey;
                     }
                 }
            }
            &:hover{
                background-color: $dark-background-match;
            }
        }
        .card{
            background-color: $dark-background-match;
            .card-header{
                padding-bottom: 1em;
                .profileSnippetWrap{
                    color: $dark-white;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    .profilePic{
                        height: 3.2em;
                        width: 3.2em;
                        border-radius: 50%;
                         background-color: $primary;
                         margin-right: 0.8em;
                     }

                    
                }
            }
            .logout{
                text-align: center;
                color: $dark-white;
                padding-top: 1em;
                font-weight: 800;
                cursor: pointer;
                &:hover{
                    background-color: $primary;
                }
                &:active{
                    background-color: $primary-hover;
                }
            }
        }
    }
}