@import '../../viewsStyles/global';

.suggestionsContainer{
    width: 30%;
    background-color:  $dark-background;
    border-left: 0.3px solid $invisible-grey;
    position: fixed;
    right:0;
    top:0;
    bottom:0;
    overflow-y: scroll;

}